.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 600px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contactsBody {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msgCardBody {
    overflow-y: auto;
}

.cardHeader {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.cardFooter {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.search::placeholder {
    color: #fff;
}

.typeMsg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.typeMsg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.typeMsg::placeholder {
    color: #fff;
}

.attachBtn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.sendBtn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.searchBtn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li a {
    display: block;
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.contacts li a:hover {
    text-decoration: none;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.userImg {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.userImgMsg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}

.imgCont {
    position: relative;
    height: 70px;
    width: 70px;
}

.imgContMsg {
    height: 40px;
    width: 40px;
}

.onlineIcon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.userInfo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.userInfo span {
    font-size: 20px;
    color: white;
}

.userInfo p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.videoCam {
    margin-left: 50px;
    margin-top: 5px;
}

.videoCam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msgContainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msgCotainerSend {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msgTime {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msgTimeSend {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msgHead {
    position: relative;
}

.actionMenuBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.actionMenu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.actionMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.actionMenu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.actionMenu ul li i {
    padding-right: 10px;

}

.actionMenu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}